<div id="<%= dom_id url %>">
  <p>
    <strong>Domain:</strong>
    <%= url.domain %>
  </p>

  <p>
    <strong>Full url:</strong>
    <%= url.full_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= url.short_url %>
  </p>

</div>
